<h1>Таблица уроков</h1>
<div>
  <form [formGroup]="inputForm">
    <tr>
      <td>Номер</td>
      <td>
        <input
          formControlName="number"
          type="text"
          type="number"
          validateNumber
        />
      </td>
    </tr>
    <tr>
      <td>Дата</td>
      <td>
        <input
          formControlName="date"
          type="text"
        />
      </td>
    </tr>
    <tr>
      <td>Тема</td>
      <td>
        <input
          formControlName="topic"
          type="text"
          validateMandatory
        />
      </td>
    </tr>
    <tr>
      <td>Домашнее задание</td>
      <td>
        <input
          formControlName="hometask"
          type="text"
          validateMandatory
        />
      </td>
    </tr>
    <tr>
      <td>Примечание</td>
      <td>
        <input
          formControlName="additional"
          type="text"
        />
      </td>
    </tr>
  </form>
</div>
<button (click)="addNewLesson()">Добавить</button>
<div>
  <table style="width: 100%">
    <tr>
      <th>Номер</th>
      <th>Дата</th>
      <th>Тема</th>
      <th>Домашнее задание</th>
      <th>Примечание</th>
      <th>Действия</th>
    </tr>
    <tr *ngFor="let lessonRecord of studyData.lessonRecords">
      <td>{{ lessonRecord.number }}</td>
      <td>{{ lessonRecord.date | date: "dd.MM.yyyy" }}</td>
      <td>{{ lessonRecord.topic }}</td>
      <td>{{ lessonRecord.hometask }}</td>
      <td>{{ lessonRecord.additional }}</td>
      <td>
        <button (click)="deleteLesson(lessonRecord.id)">Удалить</button>
      </td>
    </tr>
  </table>
</div>
